@import "tailwindcss";

@theme {
  --color-primary-color: #f59e0b;
  --color-secondary-color: #d97706;

  --color-bg-color: #f9fafb;
  --color-text-color: #1f2937;
  --color-placeholder-color: #9ca3af;

  --color-menu-bg: #fef3c7;
  --color-menu-hover: #fde68a;

  --color-login-button: #07a501;
  --color-login-button-hover: #058601;

  /* dark */
  --color-primary-color-dark: #3a5a7a;
  --color-secondary-color-dark: #1f2937;

  --color-bg-color-dark: #3d3d3d;
  --color-text-color-dark: #dadada;
  --color-placeholder-color-dark: #9ca3af;

  --color-menu-bg-dark: #5f5f5f;
  --color-menu-hover-dark: #fde68a;

  --color-login-button-dark: #07a501;
  --color-login-button-hover-dark: #058601;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-color);
}

:focus-visible {
  outline: 2px solid var(--color-secondary-color);
  outline-offset: 2px;
}
